@font-face {
  font-family: 'open-sans';
  src: url('../fonts/open-sans/Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/open-sans/Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/open-sans/Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/open-sans/Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'merriweather';
  src: url('../fonts/Merriweather-BoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
}