header.header
  .container
    .aside__url.header__url perfect <i>takpapp.com</i>
    .header__logo
      span.header__logo--icon
      span.header__logo--title take
    .header__left
      .header__capture
        h3.header__capture--title Picture perfect
        p.header__capture--text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .header__right
      .header__img
        img(src="./img/iPhone.png", alt="phone")
      
  